<h2>Requests</h2>
<div class="content">
    <div class="treeview">
        <ul class="">
            <i class="bi bi-caret-down"></i>
            <span><i class="bi bi-folder2-open"></i> Folder</span>
            <ul class="">
                <li>
                    <a [routerLink]="['/requests', 1]"><span class="badge text-bg-success">GET</span> Request 1</a>
                </li>
                <li>
                    <a href="#"><span class="badge text-bg-warning">POST</span> Request 2</a>
                </li>
                <li>
                    <i class="bi bi-caret-down"></i>
                    <span><i class="bi bi-folder2-open"></i> Folder 2</span>
                    <ul class="">
                        <li>
                            <a href="#">
                                <span class="badge text-bg-primary">PUT</span> Request 3
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="badge text-bg-danger">DELETE</span> Request 4
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <i class="bi bi-caret-right"></i>
                    <span><i class="bi bi-folder2"></i> Folder 2</span>
                </li>
            </ul>
        </ul>
    </div>
</div>